/* Album view */

.view-header {
  margin-bottom: -4px;
  height: 140px;
  padding-bottom: 24px;
}

.view-header .cover {
  display: inline-block;
  height: 100%;
  width: 140px;
  margin-right: 16px;
  text-align: center;
  box-shadow: 0 0 20px 10px rgba(10, 10, 15, 0.3);
}

.view-header .cover .cover-img {
  transform: translate(0, -103px);
  height: 100%;
}

.view-header .cover i {
  top: 20px;
  position: relative;
  font-size: 100px;
}

.view-header .info {
  display: inline-block;
  position: relative;
  min-width: 120px;
  height: 100%;
  vertical-align: top;
  border-left: 1px solid rgba(120, 120, 128, 1);
  padding-left: 16px;
}

.info .label {
  text-transform: uppercase;
  font-size: 11px;
  color: rgba(120, 120, 128, 0.8);
}

.info #name {
  font-size: 32px;
}

.btn {
  display: inline-block;
  padding: 6px 20px;
  background: #B8C6D0;
  color: rgba(30, 30, 35, 0.8);
  transition: all 0.25s ease-out;
}

.btn:hover {
  background: #eef;
  cursor: pointer;
}

.info .bottom-btns {
  position: absolute;
  bottom: 0;
}

.bottom-btns #play,
.bottom-btns #more {
  text-transform: uppercase;
}

.bottom-btns #more {
  padding: 2px 6px 1px 5px;
  margin-left: 6px;
  float: right;
}

.song-list {
  width: calc(100% + 50px);
  margin-left: -25px;
  text-align: left;
  border-spacing: 0;
}

.song-list tr th {
  color: rgba(30, 30, 35, 0.8);
  background: #B8C6D0;
  font-size: 12px;
  text-transform: uppercase;
}

.song-list tr {
  transition: all 0.25s ease-out;
}

.song-list td {
  border-bottom: 1px solid rgba(120, 120, 128, 1);
  padding-top: 6px;
  padding-bottom: 6px;
}

.song-list tr:hover {
  background: rgba(50, 50, 58, 1);
}

.play-btn {
  transition: all 0.25s ease-out;
  cursor: pointer;
}

.play-btn:hover {
  color: #eef;
}