<div class="view-header">
  <div class="cover">
    <i class="material-icons">music_note</i>
    <img class="cover-img" src="https://upload.wikimedia.org/wikipedia/en/d/d0/Alt-J_-_An_Awesome_Wave.png" onerror="this.style.display='none'"/>
  </div>
  <div class="info">
    <div id="name">An Awesome Wave</div>
    <div id="artist">alt-J</div>
    <div id="year" class="label">2012</div>
    <div class="label"><span id="tracks">0</span> tracks</div>
    <div class="label"><span id="playtime">0:00</span> playtime</div>
    <div class="bottom-btns">
      <div id="play" class="btn">Play</div>
      <div id="more" class="btn"><i class="material-icons">menu</i></div>
    </div>
  </div>
</div>
<div class="view-content">
  <table class="song-list">
    <thead>
      <tr>
        <th style="width: 5%;"></th>
        <th style="width: 5%;">#</th>
        <th style="width: 50%;">Song</th>
        <th style="width: 30%;">Artist</th>
        <th style="width: 10%;"><i class="material-icons">av_timer</i></th>
      </tr>
    </thead>
    <tbody id="playlist-list">
    </tbody>
  </table>
</div>
<script>
function renderContent(obj) {
  for (var k in obj.meta) {
    if (obj.meta.hasOwnProperty(k)) {
      $('.view-header').find('#' + k).html(obj.meta[k]);
    }
  }
  $('#playlist-list').html('');
  for (var k in obj.tracks) {
    $('#playlist-list').append('<tr><td><i id="list-play" index="' + k + '" url="' + obj.tracks[k].url + '" class="material-icons play-btn">play_arrow</i></td><td>' + obj.tracks[k].meta.track.no + '</td><td>' + obj.tracks[k].meta.title + '</td><td>' + obj.tracks[k].meta.artist[0] + '</td><td>' + msToString((obj.tracks[k].meta.duration * 1000).toFixed(0)) + '</td></tr>');
  }
  //page events
  $($('.bottom-btns').find('#play')).click(function() {
    loadTrack($('[index=1]').attr('url'), true);
    playingIndex = 1;
    playing = true;
    syncPlaying();
  });
  $('[id=list-play]').click(function() {
    if (playingIndex == $(this).attr('index') && playingAlbum == $('.view-header').find('#name').html()) {
      player[playing ? 'pause' : 'play']();
      playing = !playing;
      syncPlaying();
    }
    else {
      playingAlbum = $('.view-header').find('#name').html();
      loadTrack($(this).attr('url'), true);
      playingIndex = $(this).attr('index');
      var imgSrc = getTrackPicture(lib.albums[playingAlbum].tracks[playingIndex]);
      $('.cover-wrapper').find('.cover-img').attr('src', imgSrc);
      $('.cover-wrapper').find('.cover-img').removeAttr('style');
      playing = true;
      syncPlaying();
    }
  });
  window.scrollTo(0, 0);
  var album = lib.albums[$('.view-header').find('#name').html()];
  var refTrack = album.tracks[0] == null ? album.tracks[1] :  album.tracks[0];
  var imgSrc = getTrackPicture(refTrack);
  $('.view-header').find('.cover-img').attr('src', imgSrc);
  if (playingAlbum == $('.view-header').find('#name').html()) {
    syncPlaying();
  }
}
</script>