<div class="library-view">
  <div class="grid">
  </div>
</div>
<script>
function renderContent(obj) {
  $('.grid').html('');
  for (var k in obj.albums) {
    //buffer to dataurl
    //obj.albums[k][1].meta.picture TODO
    var refTrack = obj.albums[k].tracks[0] == null ? obj.albums[k].tracks[1] :  obj.albums[k].tracks[0];
    var imgSrc = '';
    if (refTrack.meta.picture[0] != null) {
      imgSrc = arrayBufferDataUri(refTrack.meta.picture[0].data.data);
    }
    $('.grid').append('<div class="album">' +
      '<div id="album-view-cover" class="cover">' +
        '<i class="material-icons">music_note</i>' +
        '<img class="cover-img" src="' + imgSrc + '" onerror="this.style.display=\'none\'"/>' +
      '</div>' +
      '<div class="info">' +
        '<div id="album-view-name">' + obj.albums[k].meta.name + '</div>' +
        '<div id="artist">' + getAlbumArtist(obj.albums[k]) + '</div>' +
      '</div>' +
    '</div>');
  }
  $('[id=album-view-name]').click(function() {
    var albumName = $(this).html();
    var albumObj = {
      meta: {
        name: lib.albums[albumName].meta.name,
        year: lib.albums[albumName].meta.year.split('-')[0],
        artist: lib.albums[albumName].meta.artist,
        tracks: Object.keys(lib.albums[albumName].tracks).length,
        playtime: 'unknown'
      },
      tracks: lib.albums[albumName].tracks
    };
    loadView('/album-view', albumObj);
  });
  $('[id=album-view-cover]').click(function() {
    var albumName = $(this).parent().find('.info').find('#album-view-name').html();
    var albumObj = {
      meta: {
        name: lib.albums[albumName].meta.name,
        year: lib.albums[albumName].meta.year.split('-')[0],
        artist: lib.albums[albumName].meta.artist,
        tracks: Object.keys(lib.albums[albumName].tracks).length,
        playtime: 'unknown'
      },
      tracks: lib.albums[albumName].tracks
    };
    loadView('/album-view', albumObj);
  });
  window.scrollTo(0, 0);
}
</script>