.library-view .grid {
}

.library-view .album {
  display: inline-block;
  height: calc(162px + 72px);
  width: 162px;
  box-shadow: 0 0 20px 10px rgba(10, 10, 15, 0.3);
  margin: 0 10px 14px 0;
}

.library-view .cover {
  height: 162px;
  width: 162px;
  margin-right: 16px;
  text-align: center;
}

.library-view .cover .cover-img {
  transform: translate(0, -103px);
  height: 100%;
}

.library-view .cover i {
  top: 20px;
  position: relative;
  font-size: 100px;
}

.library-view .info {
  width: calc(162px - 20px);
  height: 52px;
  background: rgba(57, 57, 60, 0.8);
  color: #B8C6D0;
  padding: 10px;
  font-size: 14px;
  line-height: 1.8em;
  text-align: left;
}

.library-view .info #name {
  font-weight: bold;
}