.library-view {
}

.library-view .grid {
  text-align: left;
}

.library-view .album {
  display: inline-block;
  height: calc(212px + 72px);
  width: 212px;
  vertical-align: top;
  margin: 0 24px 28px 0;
}

.library-view .cover {
  height: 212px;
  width: 212px;
  margin-right: 16px;
  text-align: center;
  cursor: pointer;
}

.library-view .cover .cover-img {
  transform: translate(0, -103px);
  height: 100%;
}

.library-view .cover i {
  top: 50px;
  position: relative;
  font-size: 100px;
}

.library-view .info {
  width: calc(212px - 20px);
  height: 52px;
  background: rgba(57, 57, 60, 0.8);
  color: #B8C6D0;
  padding: 10px;
  font-size: 14px;
  line-height: 1.8em;
}

.library-view .info #album-view-name {
  color: #eef;
  cursor: pointer;
  font-weight: bold;
}

.library-view .info * {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 192px;
  overflow: hidden;
}